body { 
  overflow: hidden;
}

.lsa-content {
  background-color: #EEEEEE;
  color: #212121;
}

.json-box {
    background: #8094A9;
    color: white;
    font-size: 0.75em;
    line-height: 1.5em;
    padding: 1em;
    margin-bottom: 1em;
}
    

.message-list .message-item {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 40px;
    padding-top: 10px;
    cursor: pointer;
}
.message-list .message-item:hover {
  background-color: #F5F5F5;
}

.message-list .message-item:focus {
  outline: none;
  background-color: #F5F5F5;
}

.message-list .message-item.selected {
  background-color: #616161;
  color: white;
}

.message-list .message-item .message-index {
  color: #616161;
  padding: 0 10px;
  font-size: 10px;
}

.message-list .message-item.selected .message-index {
  color: #D8D8D8;
}

.message-list .message-item .message-preview {
  font-family: monospace;
  font-size: 1.1em;
}


  
  
  
 .json-view-container {
   padding: 10px;
   overflow: auto;
   word-wrap: break-word;
 }
 

.connection-indicator {
  background-color: #F44336;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  right: 0;
}

.connection-indicator.connecting {
  background-color: #FFB74D;
}

.connection-indicator.connected {
  background-color: #8BC34A;
}

.connection-indicator.reconnecting {
  background-color: #EF6C00;
}

.connection-indicator.disconnected {
  background-color: #F44336;
}

.connection-id {
  font-size: small;
  color: #D8D8D8;
}

.layout-column > .message-details {
  padding: 0 10px;
  height: 40px;
  max-height: 40px;
  line-height: 40px;
  background-color: #EEEEEE;
}