<!DOCTYPE html>
<html lang="en" ng-app="LSAConsole" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>
		Raw Connection Tests
	</title>
	<meta name="viewport" content="initial-scale=1" />
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc1/angular-material.min.css">
	<link rel="stylesheet" href="css/angular-json-explorer.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body layout="column" ng-controller="AppController as vm">
	<md-toolbar layout="row">
		<div class="md-toolbar-tools">
			<h2><span>lsa console</span></h2>
			<span flex></span>
			<span class="connection-id" ng-if="vm.connectionManager.connection">
				connection id: <span ng-bind="vm.connectionManager.connection.id"></span>
			</span>
			<md-button class="md-icon-button md-primary" aria-label="Settings" ng-click="vm.showDialog()">
				<md-icon md-svg-src="img/icons/ic_exit_to_app_white_24px.svg" style="width: 24px; height: 24px;"></md-icon>
			</md-button>
			<connection-indicator></connection-indicator>
		</div>
	</md-toolbar>

	<div layout="row" class="md-padding">
		<lsa-invoker></lsa-invoker>
	</div>

	<div layout="row" flex>
		<lsa-messages></lsa-messages>
	</div>

	<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js"></script>
	<script src="//ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.0.min.js"></script>
	<script src="build.js"></script>
</body>
</html>